<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS}[%5p][%t](%F:%L) - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.networknt.schema.JsonSchemaFactory" level="FATAL" />
		<Root level="info">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>